
/* noa dave <a> tag */
.btn-shine {
  position: relative; 
  margin-left: 0;
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #2506f0 0, #70cef3 10%, #193fe6 20%);
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

/* github btn css*/

.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;
  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;
  background-color: rgba(9, 87, 177, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(18, 23, 57, 0.08),
    inset 0 0 0 1px rgba(3, 91, 46, 0.08);
  color: #00ff48;
  transform: translate(0, -0.25rem);
  background-color: rgba(6, 141, 141, 0.5);
}

/* RESUME btn*/
/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  position: relative;
  width: 150px;
  height: 45px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  align-items: center;
  border: 1px solid #12d607;
  background-color: #362184;
  overflow: hidden;
}
.shadow-custom-dark {
  box-shadow: 0 8px 32px 0 rgba(35, 35, 70, 0.85), 0 1.5px 4px 0 rgba(81, 35, 35, 0.7);
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #331779;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #0b4071;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}

  /*  navigation menu */
  .nav-link {
    color: #ffffff; 
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #5966f7;
  }


  .chart-container {
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .skill-tag {
    transition: all 0.2s ease;
  }
  
  .skill-tag:hover {
    transform: translateY(-2px);
    background: rgba(99, 102, 241, 0.2);
  }

/* Education Section Styling */
#education {

  color: #e2e8f0; /* Light text color */
}

#education .border-blue-500 {
  border-color: #3b82f6;
}

#education .bg-gray-800 {
  background-color: #391f58;
}

#education .text-blue-500 {
  color: #3b82f6;
}

#education .text-gray-300 {
  color: #d1d5db;
}

#education .text-gray-400 {
  color: #a0aec0;
}

#education .shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#education .rounded-lg {
  border-radius: 0.5rem;
}

/* Profile img */
:root {
  --green: #64ffda;
  --navy: #0a192f;
  --border-radius: 8px;
  --transition: all 0.3s ease;
}

/* img */
.wrapper::before,
.wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--green);
  border-radius: var(--border-radius);
  transition: var(--transition);
  
}

.wrapper::before {
  top: 14px;
  left: 14px;
  background-color: var(--navy);
  mix-blend-mode: screen;
 
}

.wrapper::after {
  border: 2px solid var(--green);
  top: 14px;
  left: 14px;
  z-index: -2;
}
.wrapper:hover::before,
.wrapper:focus::before {
  top: 16px;
  left: 16px;

 
}

.wrapper:hover .img,
.wrapper:focus .img {
  filter: none;
  mix-blend-mode: normal;
  transform: scale(1.02);
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-10px);}
}
.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}
