/* From Uiverse.io by Gaurav-WebDev */

/* noa dave <a > tag */
.btn-shine {
  position: relative; /* Change from absolute to relative */
  margin-left: 0; /* Add this to align to flex start */
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #ADD8E6 0, #87CEEB 10%, #4682B4 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

/* navbar github css*/
/* From Uiverse.io by Creatlydev */ 
.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;
  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;
  background-color: rgba(9, 87, 177, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(18, 23, 57, 0.08),
    inset 0 0 0 1px rgba(3, 91, 46, 0.08);
  color: #00ff48;
  transform: translate(0, -0.25rem);
  background-color: rgba(6, 141, 141, 0.5);
}

/* nav */
.button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: 0.5px 0.5px 150px #252525;
  }
  
  .type1::after {
    content: "Resume";
    height: 50px;
    width: 150px;
    background-image: linear-gradient(to right, #062222, #33f1f1);
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "HIRE ME";
    height: 60px;
    width: 150px;
    background-image: linear-gradient(to right, #0e5575, #222a6e);
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

  /*  navigation menu */
  .nav-link {
    color: #ffffff; 
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #5966f7;
  }


/* Flip Card Styling */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  color:#ffffff;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #0e5575;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, #236483 60%, #395d5d 88%, #217b3a 40%, rgba(14, 85, 117, 0.603) 48%);
  color: #33f1f1;
}

.flip-card-back {
  background: linear-gradient(120deg, #33f1f1 30%, #0e5575 88%, #33f1f1 40%, #0e5575 78%);
  color: white;
  transform: rotateY(180deg);
}