@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;  
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: rgb(20, 22, 61); /* Default background color */
  color: white; /* Optional: set a default font */
}

/* education + footer */
.bg-gradient-custom {
  background: linear-gradient(to right, #150c2a, #270c52);
}
/* skills + Services */
.bg-gradient-custom2 {
  background: linear-gradient(to left, #102134, #1c0b37);
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  @keyframes spin-slow {
    to {
      transform: rotate(360deg);
    }
  }
  .animate-spin-slow {
    animation: spin-slow 3s linear infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}